@page
@model projetEDT.Pages.UEs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>UE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UE.Intitule" class="control-label"></label>
                <input asp-for="UE.Intitule" class="form-control" />
                <span asp-validation-for="UE.Intitule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UE.Numero" class="control-label"></label>
                <input asp-for="UE.Numero" class="form-control" />
                <span asp-validation-for="UE.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
