@page
@model projetEDT.Pages.Batiments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce batiment ?</h3>
<div>
    <h4>Batiment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batiment.NomBatiment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batiment.NomBatiment)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Batiment.ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour</a>
    </form>
</div>
